# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.bin
*.v2
ProjectManager/.vs/ProjectManager/v17/
*.editorconfig
ProjectManager/ESD.PM/obj/Debug
ProjectManager/ESD.PM/bin/Debug
ProjectManager/ESD.PM/obj/Debug/net8.0-windows
ProjectManager/.vs
*.v2
ProjectManager/.vs/ProjectManager/v17/.suo
ProjectManager/.vs/ProjectManager/DesignTimeBuild/.dtbcache.v2
*.targets
*.json
*.props
/ProjectManager/ESD.PM/bin/Debug
/ProjectManager/.vs/ProjectManager/v17
/ProjectManager/.vs/ProjectManager/DesignTimeBuild
